@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.ttf'); 
}

@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/OpenSans-Bold.ttf'); 
}

@font-face {
  font-family: OpenSans-Light;
  src: url('../fonts/OpenSans-Light.ttf'); 
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url('../fonts/OpenSans-ExtraBold.ttf'); 
}


body{
    font-family: OpenSans-Light;
    background-color: #f4f4f4;
}
footer{
    padding: 1% 20%;
    font-size: 0.8em;
    color:#ffffff;
    text-align: center;
}
img.picpersonaje {
    width: 120px;
    float: left;
    margin-right: 15px;
}

.personajes{
    margin-bottom: 20px;
}
.personaje{
    border:solid 1px #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    min-height: 350px;
}
.personaje .descripcion{
    height:120px;
    font-size: 0.5em;
}
.item-comic{
    font-size: 0.6em;
    text-align: center;
}
.personaje h4{
    font-family: OpenSans-Bold;
}

.personaje h6{
    font-family: OpenSans-Regular;
}
nav.bg-marvel,
footer.bg-marvel{
    background-color: #2d2727;
}
.btn-red{
 background-color: #ec1e23;   
    color:#ffffff;
}

.btn-default{
    color:#b4b4b4;
}
.modal-header{
    border: none;
}
.modal-header .close{
    padding: 0.4em;
}
.modal-footer{
    background-color: #dcdcdc;
    padding: 0;
    margin:0;
}
.modal-footer.row,
.modal-footer.row>:not(:last-child),
.modal-footer.row>:not(:first-child){
    margin: 0;
}
.rojo,
.rojo:active,
.rojo:focus,
.rojo:visited,
.rojo:hover{
   color:#ec1e23;
}

.sifavorito,
.sifavorito:hover,
.sifavorito:active,
.sifavorito:focus,
.sifavorito:visited{
    background-color: #322827 !important;
    color:#ec1e23 !important;
}

#favorito,
#favorito:hover,
#favorito:active,
#favorito:focus,
#favorito:visited{
    background-color: #f0f0f0;
    color:#3c3231;
}
.col-sm-8 .descripcion{
    height: 160px;
    overflow: scroll;
}
img.elimfav {
    position: absolute;
    top: -10px;
    right: 0px;
}
